@import url(http://fonts.googleapis.com/css?family=Titan+One);
@import "partials/base";
@import "h5bp";
@include h5bp-normalize;
@import "partials/overrides";
@import "partials/fonts";
@import "partials/page";
@include h5bp-helpers;
@import "partials/media";

body {
	background-color: #9370db;
    background-image: url('../images/background.png');  
    margin: 0 460px;
}

@mixin column-style{
    border: 10px double #8A2BE2;
    border-radius: 24px;
    padding: 5px;
    color: #000;
    background-color: #9370DB;
    box-shadow: 3px 5px 6px #000000;
    font:{
            size: 13px;
            family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
            weight: strong; 
        }
      
}

@mixin highlight{
    text-decoration: none;
    color:#FFFFFF;
    font:{    
        weight: bold;    
    }
    padding: 5px 10px; 
    background: #9c3;
    border-radius: 15px;
    &:hover{
            background: #E8E8E8 ;
            color:#000;
            opacity: 0.60;
            transition: background 0.3s ease-in-out;
        }
}


/*Variables*/
$list-style: none;
$text-align: left;
$padding: 5px 0 20px 25px;
$line-height: 25px;

/*Sass*/
#container{
    margin: 100px 0;
}

header{
    font: {
        family: 'Titan One', cursive;
        size: 72px;
        weight: bold;

    }
}

#search{  
    float: right; 
    margin-bottom: 10px;
}

#textbox{
    @include column-style;
}

#search-button{
    padding: 8px 15px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #000;
    border: 2px;
    border-radius: 10px;
    box-shadow: 3px 5px 6px #000000;
    background: linear-gradient(0deg, rgb(160, 160, 160) 30%, rgb(177, 140, 255) 100%);
    &:hover{
        box-shadow: 7px 7px 14px 0px #8A2BE2;
    }
}

#posts{
    @include column-style;
    float: left;
    width: 480px;
    height: 720px;
    position: relative;
    word-wrap:normal;    
}

header{
    width: 400px;
    height: 30px;
}

h1 a{
	text-decoration: none;
    	color: #000;
    		&:hover{
    			//text-shadow: 0px 0px 7px rgba(255, 10, 10, 0.75);
                @include highlight;
    		}
}

#post-date{
    margin: 0 20px 5px 325px;
    font-weight: bold;
}

#menu{
    @include column-style;
    float: right;
    width: 120px;
    height: 120px;
    ul{
        list-style: $list-style;
        text-align: $text-align;
        padding: $padding;
        font-size:16px;
        font-weight: bold;
        line-height: $line-height;
      }

    li a{
    	text-decoration: none;
    	color: #000;
    	&:hover{
    			//text-shadow: 0px 0px 7px rgba(255, 10, 10, 0.75);
                @include highlight;
    		}
    }  
}

#recent-posts{
    @include column-style;
    float: right;
    width: 120px;
    height: 565px;
    margin: 5px 0 0 0;
     ul{
        list-style: $list-style;
        text-align: $text-align;
        padding: $padding;
        font-size:16px;
        font-weight: bold;
        line-height: $line-height;
      }

      li a{
    	text-decoration: none;
    	color: #000;
    		&:hover{
    			//text-shadow: 0px 0px 7px rgba(255, 10, 10, 0.75);
                @include highlight;
    		}
    		
    }  
}

footer{
    @include column-style;
    width: 633px;
    height: 10px;
    float:none;
    clear:both;
    font-weight: bold;
    text-align: center;
    padding: 10px;

}

